<html>
  <head>
    <title><%= title%></title>
  </head>
  <body>
    <h1>Welcome to the home page</h1>

    <ul>
      <% messages.forEach((message) => { %>
      <li><%= message.text %></li>
      <li><%= message.user %></li>
      <li><%= message.added %></li>
      <% }) %>
    </ul>
  </body>
</html>
