<html>
  <head>
    <title>Message Details</title>
  </head>
  <body>
    <h1>User: <%=message.user%></h1>
    <h1>Message: <%=message.text%></h1>
    <p>Said at: <%=message.added%></p>
    <a href="/">back</a>
  </body>
</html>
